<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Add Pegawai</title>
		<object th:include="fragment/fragment :: css" th:remove="tag"></object>
		<object th:include="fragment/fragment :: js" th:remove="tag"></object>
	</head>
	
<body>
	<nav th:replace="fragment/fragment :: navbar"></nav>
	<div class="card" style="margin:25px;">
				<div class="card-header" style="text-align:center">
					<h3>Tambah Jabatan</h3>
					</div>
					<div class="card-body">
						<div class="container">
					<form th:action="@{/jabatan/tambah}" th:objects="${jabatan}" method="POST">
						<div class="card-body">
							<label for="nama">Nama :</label>
							<input type="text" name="nama" class="form-control"/>
							<br>
							<label for="deskripsi">Deskripsi :</label>
							<input type="text" name="deskripsi" class="form-control"/>
							<br>
							<label for="gajiPokok">Gaji Pokok :</label>
							<input type="number" name="gajiPokok" class="form-control"/>
							<br>
							<br>
							<button type="submit" class="btn btn-primary">Simpan</button>
						</div>
					</form>
				</div>
			</div>
	</div>
</body>
	

	
</html>