<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
	 <meta charset="UTF-8">
		<title>Update</title>
		<object th:include="fragment/fragment :: css" th:remove="tag"></object>
		<object th:include="fragment/fragment :: js" th:remove="tag"></object>
	</head>
	
<body>
	<nav th:replace="fragment/fragment :: navbar"></nav>
	<div class="card" style="margin:25px;">
				<div class="card-header" style="text-align:center">
					<h3>Ubah Pegawai</h3>
				</div>
				<div class="card-body">
					<div class="container">
						<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
								
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="nama">Nama</label>
								<input type="text" class="form-control" id="nama" name="nama" placeholder="Nama" th:value="*{nama}">	
							</div>
						</div>
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="tempatLahir">Tempat Lahir</label>
								<input type="text" class="form-control" id="tempatLahir" name="tempatLahir" placeholder="Tempat Lahir" th:value="*{tempatLahir}">
							</div>
						</div>
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="tanggalLahir">Tanggal Lahir</label>
								<input type="date" class="form-control" id="tanggalLahir" name="tanggalLahir" placeholder="Tanggal Lahir" th:value="*{tanggalLahir}">
							</div>
						</div>
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="tahunMasuk">Tahun Masuk</label>
								<input type="number" class="form-control" id="tahunMasuk" name="tahunMasuk" placeholder="Tahun Masuk" th:value="*{tahunMasuk}">
							</div>
						</div>
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="provinsi">Provinsi</label>
								<select id="provinsi" name="idProvinsi" class="form-control">
									<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
						    		<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"/>
								</select>
							</div>
						</div>
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="instansi">Nama Instansi</label>
								<select name="idInstansi" id="instansi" class="form-control">
						  			<option disabled="disabled" selected="selected" >Pilih Instansi</option>
						   			<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"/>
								</select>
							</div>
						</div>
						<p>
						<div class="row">
							<div class="col-lg-4">
								<label for="jabatan">Nama Jabatan</label>
									<select name="idJabatan" class="form-control">
										<option disabled="disabled" selected="selected" >Pilih Jabatan</option>
									    <option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
									</select>	
							</div>			
						</div>	
						<br>
						<br>
						<button type="submit" class="btn btn-primary">Simpan</button>
						</form>
					</div>
				</div>
			</div>	
								
		
		<script>
			$(document).ready( function () {
			    $('#table_id').DataTable();
			} );
			
			$('#provinsi').change(
			     function() {
			         $.getJSON("/provinsi/instansi", {
			             provinsiId : $(this).val(),
			             ajax : 'true'
			         }, function(data) {
			             var html = '<option value="">Pilih Instansi</option>';
			             var len = data.length;
			             for ( var i = 0; i < len; i++) {
			                 html += '<option value="' + data[i].id + '">'
			                         + data[i].nama + '</option>';
			             }
			             html += '</option>';
			             $('#instansi').html(html);
				});
			});
		</script>
	</body>
</html>